<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forum</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <header>
    <div class="tm-header">
      <a href="/" class="submit">Home Page</a>
      {{ if eq .Users.Login ""}}
      <a href="/auth" class="submit">Sign in</a>
      <a href="/SignUp" class="submit">Sign up</a>
      {{ else }}
      <a href="/auth/logout" class="submit">Sing out</a>
      {{ end }}
    </div>
  </header>
  <div class="tm-container">
    <div class="tm-center">
      {{ if .Users.Login }}
      <a href="/posts/create" class="submit">Ask question</a>
      {{ end }}
      {{ range .Posts }}
        <div class="tm-row">
          <div class="tm-row-author">
            <a href="" class="post">Автор: {{ .Author }}</a>
          </div>
          <div class="tm-row-title">
            <a href="/posts/view?id={{.Id}}">{{ .Text }}</a>
          </div>  
          <div class="read-next">
            <a href="/posts/view?id={{.Id}}">Читать далее</a>
          </div>
        </div>
      {{ end }}
    </div>

  </div>
</body>
</html>