<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Post</title>
  
</head>

<body>
  <header>
    <div class="tm-header">
      <a href="/" class="submit">Home Page</a>
      {{ if eq .Users.Login ""}}
      <a href="/auth" class="submit">Sign in</a>
      <a href="/SignUp" class="submit">Sign up</a>
      {{ else }}
      <a href="/auth/logout" class="submit">Sing out</a>
      {{ end }}
    </div>
  </header>
  <div class="tm-row">
    <div class="tm-center">
      <a class="author" href="/">Author: {{ .Posts.Author }}</a>
      <p class="title">Title: {{ .Posts.Title }}</p>
    </div>
    <div class="tm-center">
      <p class="body">{{ .Posts.Text }}</p>
    </div>
    <div class="tm-tags">
        {{ range .Posts.Tags }}
        <p class="tags">{{ . }}</p>
        {{ end }}
    </div>
    <div>
      {{ if eq .Users.Login ""}}

      {{ else }}
      <form method="post" action="/posts/view?id={{ .Posts.Id }}">
        <p class="Comments">Add comments</p>
        <textarea name="Comment" placeholder="Your Text" rows="5" cols="125"></textarea>
        <div class="comment-container">
            <button type="submit" class="btn-comment">Send Comment</button>
        </div>
      </form>
        <p>{{ .Posts.Id }}</p>
      <span>{{ len .PostLikes }}</span> 
      <form method="post" action="/posts/like?id={{ .Posts.Id }}"><input type="image" src="/static/img/like.jpeg" alt=""></form>
      <span>{{ len .PostDislikes }}</span> 
      <form method="post" action="/posts/dislike?id={{ .Posts.Id }}"><input type="image" src="/static/img/dislike.jpeg" alt=""></form>
      <div>
        {{ .CommentsLikeCount}}
        {{ .CommentsDisCount}}
        <p class="answer">Comments</p>
        {{ range .Posts.Comments}}
          <h4><p class="nickname">Login: {{ .Login }}</p></h4>
          <p class="comments">Comment: {{ .Comment }}</p>
          {{ .Likes}}
          <form method="post" action="/comments/like?id={{ .Comment_id }}"><input type="image" src="/static/img/like.jpeg" alt=""></form>
          {{ .Dislikes}}
          <form method="post" action="/comments/dislike?id={{ .Comment_id }}"><input type="image" src="/static/img/dislike.jpeg" alt=""></form>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</body>
</html>